 * {
    box-sizing: border-box;
    --color-back:#f1ecdb;
    --color-2:#5f340b;
    --color-3:#0a791e;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color:var(--color-back);
    margin:0;
}
.svg-outer {
    width:100%;
    height:30rem;
    position: relative;
    overflow:scroll;
}
#zoom-container {
    width:100%;
    height:100%;
    position:relative;
}
svg {
    position:absolute;
    width:15rem;
    height:15rem;
}
.info {
    color:var(--color-2);
}
.main {
    max-width: 50rem;
    margin:0 .5rem;
}
.blockSpan {
    font-weight: bold;
}

.tool-layout {
    display: flex;
    gap:1rem;
    flex-direction: column;
}

/* inputs */
.input-container {
    display: flex;
    flex-direction: column;
    width:12rem;
    margin-bottom: .5rem;
}
.input-line{
    display: flex;
    justify-content: space-between;
}
.disp-line {
    margin-bottom: .1rem;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--color-2);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


@media screen and (min-width: 720px) {
    .tool-layout {
        flex-direction: row-reverse;
    }
    .main {
        margin: 0 5rem;
    }
}