 * {
    box-sizing: border-box;
    --color-back:#f1eee5;
    --color-2:#5f340b;
    --color-3:#0a791e;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color:var(--color-back);
    margin:0;
}
.svg-outer {
    width:100%;
    height:17rem;
    position: relative;
    overflow:scroll;
}
svg {
    position:absolute;
    aspect-ratio: 1;
}
.info {
    color:var(--color-2);
}
.description {
    font-size: 1.1em;
}
.main {
    max-width: 50rem;
    margin:0 .5rem;
}
.blockSpan {
    font-weight: bold;
}
.tool-layout {
    display: flex;
    gap:1rem;
    flex-direction: column;
}
.input-container {
    display: flex;
    flex-direction: column;
    width:12rem;
    margin-bottom: .5rem;
}
.input-line{
    display: flex;
    justify-content: space-between;
}
.disp-line {
    margin-bottom: .1rem;
}
.controls {
    width:12rem;
}
.foot {
    padding: .3rem .3rem 0rem .3rem;
    background-color:#bd9d7f;
    font-size: .8em;
}
.foot-element {
    padding-bottom: .3rem;
}
a {
    color:inherit;
}

@media screen and (min-width: 720px) {
    .tool-layout {
        flex-direction: row-reverse;
    }
    .main {
        margin: 0 5rem;
    }
    .svg-outer {
        height:27rem;
    }
}